$(function () { 
  Highcharts.setOptions({
    lang: {
      months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 
        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      shortMonths: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
      decimalPoint: ',',
      thousandsSep: '.',
      resetZoom: 'Sin zoom'
    }
  });
  $('#chart').highcharts({
    chart: {
      type: 'line',
      zoomType: 'x',
      backgroundColor: '#505050'
    },
    plotOptions: {
      line: {
        color: '#DDDD96'
      }
    },
    title: {
      text: null
    },
    xAxis: {
      type: 'datetime',
      lineColor: '#808080',
      gridLineColor: '#808080',
      tickColor: '#808080',
      labels: {
        style: {
          color: '#DDDD96'
        }
      }
    },
    yAxis: {
      title: {
        text: null
      },
      min: <%= highchart.min %>,
      gridLineColor: '#808080',
      labels: {
        style: {
          color: '#DDDD96'
        }
      }            
    },
    legend: {
      enabled: false
    },
    tooltip: {
      useHTML: true,
      formatter: function() {
        s = '<b>' + this.series.name + '</b><br/>' + Highcharts.dateFormat('%d/%m/%Y %H:%M:%S', this.x) + '<br/><div class="tooltip-chart">' + this.y + '</div>';
        if (this.point.comment !== null){
          s += '<br><p class="tooltip-comment">' + this.point.comment + '</p>';  
        }
        return s;                
      },
      style: {
        color: '#505050'
      }
    },
    credits: {
      enabled: false
    },
    series: [{
      name: '<%= dimension.name.html_safe %>',
      data: [
        <% highchart.data.each do |d| %>
          {
            x: Date.UTC(<%= d.measured_at.year %>, <%= d.measured_at.month-1 %>, <%= d.measured_at.day %>, <%= d.measured_at.hour %>, <%= d.measured_at.min %>, <%= d.measured_at.sec %>),
            y: <%= d.amount %>,
            comment: <%= d.comment.blank? ? "null" : "'" + d.comment + "'" %>
          },          
        <% end %>
        ],
      pointStart: Date.UTC(<%= highchart.start_at.year %>, <%= highchart.start_at.month-1 %>, <%= highchart.start_at.day %>),
      pointInterval: 24 * 1000 * 3600
    }]
  });
});