<%= javascript_include_tag "dimensions/index" %>

<div class="container">  
  <div class="row">
    <div class="col-lg-9">
      <h3><b>Gestión de variables</b></h3>
    </div>    
    <div class="col-lg-2 pull-right button-new">
      <a href="<%= new_user_dimension_url(current_user) %>" class="btn btn-lg btn-custom">Nueva variable</a>
    </div>
  </div>
  <div class="row">
    <div class="mpanel">      
      <div class="row info table-responsive">
        <table class="table">
          <thead>
            <th class="col-lg-4"></th>
            <th class="col-lg-1">Creada</th>
            <th class="col-lg-1">Tipo</th>
            <th class="col-lg-1">Mediciones</th>
            <th class="col-lg-1">Privacidad</th>
            <th></th>            
          </thead>
          <tbody id="dimensions">
            <% @dimensions.each do |d| %>
              <%= render "dimension", :mustache => d.as_json(:url => user_dimension_path(current_user, d),
                                                             :edit_url => edit_user_dimension_path(current_user, d)) %>
            <% end %>
          </tbody>    
          <tfoot>
            <% if @has_paginator %>
              <tr>
                <td colspan="6">
                  <div id="dimension-paginator" class="table-paginator">
                    <%= paginate @dimensions, :remote => true %>          
                  </div>
                </td>
              </tr>           
            <% end %>
          </tfoot>    
        </table>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "shared/popup", :locals => { :popup_title => "Eliminar variable",
                                                    :popup_body => "¿Realmente quieres eliminar la variable y todas sus mediciones?",
                                                    :popup_ok => "Eliminar",
                                                    :popup_cancel => "Cancelar",
                                                    :popup_id => "delete-dimension-dialog" } %>

<script type="text/html" id="dimension_template">
  <%= render "dimension" %>
</script>
