<%= javascript_include_tag "dimensions/show" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><b>Variable <i><%= @dimension.name %></i></b></h3>
    </div>    
  </div>
  <% unless current_user.nil? %>
    <div class="row">
      <div class="mpanel">
        <div class="row title">
          <h3>Acciones frecuentes</h3>      
        </div>
        <div class="row info">
          <table class="table">
            <tr>
              <td class="col-3">
                <a href="<%= edit_user_dimension_url(current_user) %>" class="btn btn-block btn-lg btn-custom">Editar</a>
              </td>
              <td class="col-3">
                <%= link_to "Eliminar", "#", :id => "delete-dimension-button", :remote => true, :class => "btn btn-block btn-lg btn-custom" %>                            
              </td>
              <td class="col-3">
                <a href="<%= new_user_dimension_measurement_url(current_user, @dimension) %>" class="btn btn-block btn-lg btn-custom">Realizar medición</a>              
              </td>
              <td class="col-3">
                <% unless @measurements.blank? %>
                  <%= link_to "Eliminar mediciones", destroy_all_measurements_path(current_user, @dimension), 
                            :confirm => "Se van a eliminar todas las mediciones que pudiera tener. ¿Quieres continuar?", 
                            :method => :delete,                                                      
                            :class => "btn btn-block btn-lg btn-custom" %>              
                <% end %>
              </td>
              <td class="col-2">
                <%= link_to "Volver", @return_path, :class => "btn btn-lg btn-danger" %>    
              </td>
            </tr>
            <% if @measurements_count > 0 %>
              <tr>
                <td class="col-3">
                  <div id="privacity_button_container">
                    <%= render :partial => "privacity_button", :locals => { :dimension => @dimension } %>
                  </div>
                </td>             
                <td colspan="4">
                </td>
              </tr>
            <% end %>            
          </table>         
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="mpanel">
      <div class="row title">
        <h3>Resumen</h3>      
      </div>    
      <div class="row info text-center">
        <table class="table">
          <tr>
            <td class="col-3">
              <h4 class="text-muted">Creada el</h4><h2><%= @dimension.created_at.strftime("%d/%m/%Y") %></h2>
            </td>
            <td class="col-3">
              <h4 class="text-muted">Es de tipo</h4><h2><%= @dimension.fact.name %></h2>
            </td>
            <td class="col-3">
              <h4 class="text-muted">Tiene</h4><h2><%= number_with_delimiter(@measurements_count, :delimiter => ".") %></h2><h4 class="text-muted"><%= h text_measurements(@measurements_count) %></h4>
            </td>
            <td class="col-3">
              <div id="privacity_summary">
                <%= render :partial => "privacity_summary", :locals => { :dimension => @dimension } %>                
              </div>
            </td>
          </tr>
        </table>          
      </div>
    </div>
  </div>
  <% if @measurements_count > 0 %>
    <div class="row">
      <div class="mpanel">
        <div class="row title">
          <h3>Mediciones</h3>      
        </div>    
        <div class="row info">
          <div id="chart">
          </div>          
        </div>
      </div>
    </div>
    
    <div id="share_section" class="row <%= @dimension.is_public ? "" : "hidden" %>">
      <div class="mpanel">        
        <div class="row info">
          <%= link_to( image_tag("social/twitter.png", :id => "twitter_logo") , "#", :remote => true, :id => "twitter_share" ) %>
          <%= link_to( image_tag("social/facebook.png", :id => "facebook_logo") , "#", :remote => true, :id => "facebook_share" ) %>
          <%= link_to_unless( current_user.nil?, image_tag("social/email.png", :id => "email_logo"), "#", :remote => true, :id => "email_share") %>            
        </div> 
      </div>
    </div>
  <% end %>
</div> 

<% unless @measurements.blank? %>
  <% if @dimension.is_spot? %>
    <% content_for :script do%>
      <%= render :partial => "spot_chart.js",  :locals => { :dimension => @dimension, :measurements => @measurements, :heatmap => @heatmap } %>
    <% end %>
  <% else %>
    <% content_for :script do%>
      <%= render :partial => "quantified_chart.js",  :locals => { :dimension => @dimension, :measurements => @measurements, :highchart => @highchart } %>
    <% end %>
  <% end %>
<% end %>

<%= render :partial => "shared/popup", :locals => { :popup_title => "Enviar correo electrónico",
                                                    :popup_body => "Cargando...",
                                                    :popup_ok => "Enviar",
                                                    :popup_cancel => "Cancelar",
                                                    :popup_id => "send-mail-dialog" } %>
                                                    
<%= render :partial => "shared/popup", :locals => { :popup_title => "Eliminar variable",
                                                    :popup_body => "¿Realmente quieres eliminar la variable y todas sus mediciones?",
                                                    :popup_ok => "Eliminar",
                                                    :popup_cancel => "Cancelar",
                                                    :popup_id => "delete-dimension-dialog" } %>                                                    
