<%= javascript_include_tag "users/login" %>

<div class="container sign-up">
  <div class="jumbotron col-lg-8 col-lg-offset-2">
    <div class="row">
      <h2>Accede a tu cuenta de Metirium.</h2>
      <h5 class="text-muted">Si has olvidado tu contraseña puedes recuperarla <a href="<%= new_user_password_path %>">aquí</a>.</h5>
      <h5 class="text-muted">Si aún no eres un usuario registrado en Metirium, <a href="<%= new_user_registration_path %>">crea tu cuenta</a> en 1 minuto.</h5>
    </div>  

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="form-group">
        <div class="col-lg-4">
          <%= f.label :email, "Correo", :for => "user_email", :class => "control-label" %>
        </div>
        <div class="col-lg-5">
          <%= f.email_field :email, :autofocus => true, :class => "form-control input-lg", :maxlength => 250 %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-4">
          <%= f.label :password, "Contraseña", :for => "user_password", :class => "control-label" %>
        </div>
        <div class="col-lg-5">
          <%= f.password_field :password, :class => "form-control input-lg", :maxlength => 32 %>
        </div>
      </div>    
      <% if devise_mapping.rememberable? %>
        <div class="form-group"> 
          <div class="col-lg-4">
            <%= f.label :remember_me, "Recordar mis datos", :for => "user_remember_me", :class => "control-label" %>
          </div>
          <div class="col-lg-5">           
            <%= f.check_box :remember_me %>             
          </div>
        </div>
      <% end %>    
      <div class="form-group">
        <div class="col-lg-5 col-lg-offset-4 btn-submit">
          <%= f.submit "Acceder a la cuenta", :class => "btn btn-lg btn-block btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
