<%= javascript_include_tag "users/show" %>

<div class="container dashboard">
  <div class="row">
    <div class="span2 side side-menu">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a id="last-dimensions" href="#">Últimas mediciones</a></li>
        <li><a id="new-dimension" href="#">Añadir medición</a></li>
        <li><a id="index-dimensions" href="#">Gestionar mediciones</a></li>
        <li><a id="choose-template" href="#">Elegir escenario</a></li>        
      </ul>
    </div>
    <div class="span7 offset1">
      <h2>Mediciones</h2>
      <p id="dimension-explanation">
      Mostrando mediciones definidas, de un total de <%= total_dimensions_tag(@dashboard.total_dimensions) %>.
      </p> 
      <div id="dimensions" class="clearfix">
        <% @dashboard.recent_dimensions.each do |rd| %>          
          <h4><%= rd[:name] %></h4>
        <% end %>
      </div>
      <% if @dashboard.has_dimensions_paginator %>        
        <div id="dimension-paginator" class="clearfix">
          <%= paginate @dashboard.recent_dimensions, 
                     :theme => 'twitter-bootstrap', 
                     :params => {:controller => 'dimensions', :action => 'index'}, 
                     :remote => true %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="span2 side side-menu">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Últimos registros</a></li>
        <li><a href="#">Registrar medición</a></li>
        <li><a href="#">Gestionar registros</a></li>
      </ul>
    </div>
    <div class="span7 offset1">
      <h2>Historial de mediciones</h2>
      <p id="measurements-explanation">
      Mostrando registros de medición, de un total de <%= total_measurements_tag(@dashboard.total_measurements) %>.
      </p> 
      <div id="measurements" class="clearfix">
        <% @dashboard.recent_measurements.each do |rm| %>          
          <h4><%= rm[:name] %></h4>
        <% end %>
      </div>
      <% if @dashboard.has_measurements_paginator %>
        <div id="measurement-paginator" class="clearfix">
          <%= paginate @dashboard.recent_measurements, 
                     :theme => 'twitter-bootstrap', 
                     :params => {:controller => 'measurements', :action => 'index'}, 
                     :remote => true %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row last">
    <div class="span2 side side-menu">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Últimos gráficos</a></li>
        <li><a href="#">Generar gráfico</a></li>
        <li><a href="#">Gestionar gráficos</a></li>
      </ul>
    </div>
    <div class="span7 offset1">
      <h2>Gráficos</h2>
      <p id="measurements-explanation">
      Mostrando gráficos generados, de un total de <%= total_charts_tag(@dashboard.total_charts) %>.
      </p> 
      <div class="clearfix">
        <% @dashboard.recent_charts.each do |rc| %>          
          <h4><%= rc[:name] %></h4>
        <% end %>
      </div>
      <% if @dashboard.has_charts_paginator %>
        <div class="clearfix">
          <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/html" id="dimension_template">
  <%= render "dimensions/dimension" %>
</script>  
<script type="text/html" id="measurement_template">
  <%= render "measurements/measurement" %>
</script>  