<%= form_for(@lead, :remote => true, :html => {:"data-type" => :json, :class => "form-inline"}) do |f| %>
  <div class="hero-unit">
    <div class="row lead">
      <div class="span5">
        Metirium se encuentra en fase de desarrollo y verá la luz definitiva próximamente. Si te interesa la aplicación y quieres estar al tanto de su evolución hasta su lanzamiento, por favor, déjanos tu dirección de correo.        
      </div>
      <div class="span5 pull-right">
        <p><%= f.text_field :email, :class => "input-large span5 leadmail", :maxlength => 250, :placeholder => "Correo electrónico (obligatorio)"%></p>
        <p><%= f.submit "Enviar", :class => "btn btn-large btn-primary btn-custom span5" %></p>
        <h6 class="muted">Nuestro negocio no es vender publicidad, así que no usaremos tu correo para enviarte spam ni se lo cederemos a terceros.</h6>                
      </div>              
    </div>
  </div>
<% end %>

<%= render "congrats" %>

<script type="text/html" id="popover_error_template">
  <%= render "leads/popover_error" %>
</script>

  