<%= form_for(@lead, :remote => true, :html => {:"data-type" => :json, :class => "form-inline"}) do |f| %>
  <div class="hero-unit">
    <div class="row lead">
      <p>Metirium se encuentra en fase de desarrollo y verá la luz definitiva próximamente. Si te interesa la aplicación y quieres estar al tanto de su evolución hasta su lanzamiento, por favor, déjanos tu dirección de correo.</p>
      <h6 class="muted">Nuestro negocio no es vender publicidad, así que no usaremos tu correo para enviarte spam ni se lo cederemos a terceros.</h6>
    </div>    
  
    <div class="row">
      <%= f.text_field :email, :class => "span9", :maxlength => 250, :placeholder => "Correo electrónico (obligatorio)"%>
      <%= f.submit "Enviar", :class => "btn span2 btn-primary btn-custom" %>
    </div>
  </div>
<% end %>

<%= render "congrats" %>

<script type="text/html" id="popover_error_template">
  <%= render "leads/popover_error" %>
</script>

  