<%= form_for(@lead, :remote => true, :html => {:"data-type" => :json, :class => "form-horizontal"}) do |f| %>
  <div class="jumbotron">
    <div class="row">
      <div class="col-6">
        Metirium se encuentra en fase de desarrollo y verá la luz definitiva próximamente. Si te interesa la aplicación y quieres estar al tanto de su evolución hasta su lanzamiento, por favor, déjanos tu dirección de correo.        
      </div>
      <div class="lead-form col-5 col-offset-1 pull-right">
        <div class="form-group">
          <%= f.text_field :email, :class => "form-control input-lg input-block", :maxlength => 250, :placeholder => "ejemplo@micorreo.com"%>
        </div>
        <div class="form-group">
          <%= f.submit "Suscribirme a la lista de correo", :class => "btn btn-block btn-lg btn-custom" %>
        </div>
        <div class="form-group">
          <h6 class="text-muted">Nuestro negocio no es vender publicidad, así que no usaremos tu correo para enviarte spam ni se lo cederemos a terceros.</h6>
        </div>                
      </div>              
    </div>
  </div>
<% end %>

<%= render "congrats" %>

<script type="text/html" id="popover_error_template">
  <%= render "leads/popover_error" %>
</script>

  