<%= javascript_include_tag "users/login" %>

<div class="container sign-up">
  <div class="row">
    <div class="hero-unit span9 offset1">
      <div class="row lead">
        <h2>Cambio de contraseña.</h2>
        <h5 class="text-muted">Si has llegado aquí es porque has olvidado tu contraseña. Sólo tienes que introducir una nueva contraseña y podrás acceder nuevamente a tu cuenta de Metirium.</h5>
      </div>  

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal"}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      
        <div class="control-group">
          <%= f.label :password, "Nueva contraseña", :for => "user_password", :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password, :autofocus => true, :class => "span5", :maxlength => 32 %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, "Repite la contraseña", :for => "user_password_confirmation", :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation, :class => "span5", :maxlength => 32 %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls btn-submit">
            <%= f.submit "Cambiar la contraseña", :class => "btn btn-primary btn-large btn-custom" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
</div>