<%= form_for(@email, :url => { action: "create" }, :remote => true, :html => { :class => "form-horizontal"}) do |f| %>
  <%= f.hidden_field :user_id, :value => @email.user_id %>

  <div id="addresses-group" class="form-group">
    <div class="col-lg-3">
      <%= f.label :addresses, "Destinatarios", :for => "email_addresses", :class => "control-label " %>
    </div>
    <div class="col-lg-9">
      <%= f.text_field :addresses, :autofocus => true, :class => "form-control input-lg", :maxlength => 250, :placeholder => "Escribe las direcciones separadas por comas" %>
      <h5 id="addresses-error" class="text-danger hidden"></h5>
    </div>
  </div>
  <div id="subject-group" class="form-group">
    <div class="col-lg-3">
      <%= f.label :subject, "Asunto", :for => "email_subject", :class => "control-label" %>
    </div>
    <div class="col-lg-9">
      <%= f.text_field :subject, :class => "form-control input-lg", :maxlength => 250 %>
      <h5 id="subject-error" class="text-danger hidden"></h5>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-3">
      <%= f.label :body, "Mensaje", :for => "email_body", :class => "control-label" %>
    </div>
    <div class="col-lg-9">
      <%= f.text_area :body, :class => "form-control input-lg", :maxlength => 500, :size => "50x10" %>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-lg-3">
      <%= f.label :want_copy, "Enviar copia a tu correo", :for => "email_want_copy", :class => "control-label" %>
    </div>
    <div class="col-lg-9">           
      <%= f.check_box :want_copy %>             
    </div>    
  </div>
  <div id="deliver-error" class="form-group col-lg-12 alert alert-danger hidden">      
  </div>

<% end %>

