<!DOCTYPE html>
<html>
<head>
  <title>Metirium - Si se puede medir, mídelo. | Herramienta para almacenar, graficar e interpretar mediciones.</title>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= include_gon %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application.js", "bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/ga" %>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="<%= root_path %>"><%= image_tag("metirium.png") %></a>
        <div class="nav-collapse collapse">
          <ul class="metirium nav">
            <li class="active"><a href="<%= root_path %>">Inicio</a></li>
            <li><a id="contact" href="#">Contacto</a></li>
            <% if !Rails.env.production? %>
              <% if user_signed_in? %>
                <li><a id="logout" href="<%= destroy_user_session_path %>">Salir</a></li>
              <% else %>
                <li><a id="login" href="<%= new_user_session_path %>">Iniciar sesión</a></li>
              <% end %>
            <% end %>            
          </ul>
          <div class="pull-right twitter-container">
            <ul class="nav pull-right twitter">
              <li><%= link_to_twitter %></li>
            </ul>          
          </div>
        </div>        
      </div>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>    
    <hr>
    <footer>
      <p>Metirium.com &copy; 2013</p>
    </footer>
  </div>  

  <%= render "layouts/contact" %>
  <%= render "layouts/twitter" %>
</body>
</html>
